<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Moonlit - Hotel and Resort HTML Template">
    <meta name="keywords" content="hotel, resort, Spa">
    <meta name="robots" content="index, follow">
    <!-- for open graph social media -->
    <meta property="og:title" content="Hotel and Resort">
    <meta property="og:description" content="Moonlit - Hotel and Resort HTML Template">
    <!-- for twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Hotel and Resort">
    <meta name="twitter:description" content="Moonlit - Hotel and Resort HTML Template">
    <!-- favicon -->
    <link rel="icon" th:href="@{/homePage/assets/images/favicon.ico}" type="image/x-icon">
    <!-- title -->
    <title>Moonlit - Hotel and Resturant HTML Template</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&amp;family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap"
          rel="stylesheet">
    <!-- icon font from flaticon -->
    <link rel="stylesheet" th:href="@{/homePage/assets/fonts/flaticon_bokinn.css}">
    <!-- all plugin css -->
    <link rel="stylesheet" th:href="@{/homePage/assets/css/plugins.min.css}">
    <!-- main style custom css -->
    <link rel="stylesheet" th:href="@{/homePage/assets/css/style.css}">
</head>